.radio{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.radio:nth-child(odd){
  background:#bdc3c7;
}
.radio:nth-child(even){
  background:#95a5a6;
}

input, label {
  flex:1 1 50%;
  margin: 0;
  padding: 0;
}
